/*color: #212121;*/

:root {
  --primary-font: "Robboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-color:#2196f3;
}
body{font-family:"Roboto";}
.header {
}
.menu-nav {
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  
}
.logo-black {
  color:var(--hover-color);
}
.link {
  list-style: none;
}
.link :hover,
.link :focus {
  color: var(--hover-color);
}
.linkstudio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}
.linkportfolio {
font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}
.linkcontact {
font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}
.contact-info {
  list-style: none;
}
.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
 color: var(--secondary-text-color);
}
.call-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--hover-color);
}
.call-link:hover,
.call-link:focus {
  color:var(--hover-color);
}

.slogan-section {
  background: #2f303a;
}
.slogan {
font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;

  color: #ffffff;
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main-btn:hover,
.main-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.feature-section {
}
.feature-items {
  list-style: none;
}
.hiden-title {
  
  font-size: 1px;
  line-height: 1px;
  margin: -0.1;
}
.caption-detail {
font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.detail-text {
width: 270px;
height: 75px;
font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

}
.caption-punctuality {
 font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.punctuality-text {
width: 270px;
height: 75px;
font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.caption-plan {
font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.plan-text {
width: 270px;
height: 75px;
font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.caption-tech {
 font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.tech-text {
width: 270px;
height: 75px;
font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.affair-title {
 font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.affair-items {
  list-style: none;
}
.comand-section {
  background: #f5f4fa;
}
.comand-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.comand-items {
  list-style: none;
}
.card {
  background: #ffffff;
}
.card-title {

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.card-text {

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.box {
  background: #ffffff;
}
.box-title {

 
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.box-text {

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.pic {
  background: #ffffff;
}
.pic-title {
  
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.pic-text {
 
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.avatar {
  background: #ffffff;
}
.avatar-title {
 
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.avatar-text {


  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.footer-box {
  background: #2f303a;
}
.sec-logo {
  font-family: "Raleway";
 
  font-size: 26px;
  line-height: 1.2
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
.logo-white {
  color: var(--hover-color);
}
.address {
}
.address-items{}
.map-list {
  list-style: none;
} 
.map-item {

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
} 
.map-item:hover,.map-item:focus {color:var(--hover-color);}
.mail-list {
  list-style: none;
}
.mail-item {
 
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}.mail-item:hover,.mail-item:focus {color: var(--hover-color);}
.call-list {
  list-style: none;
}
.call-item {
 
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.call-item:hover,.call-item:focus {color: var(--hover-color);}
.body{background: #E5E5E5;}
.portfolio-main-container {
}
.button-section {}

.buttom-items{}

.btn-list{list-style: none;
}

.btn-all{
  font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--primary-text-color);
  background: #F5F4FA;
border-radius: 4px;}
.btn-all:hover,.btn-all:focus{color: #FFFFFF; background: var(--hover-color);}

.style-sheet{
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;

color: var(--primary-text-color);}
.style-sheet-text{
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;

color: var(--secondary-text-color);}

